.free-lesson {
  background-color: $color-sapphire;
}

.free-lesson__container {
  padding: 64px 169px 69px 20px;
  margin-left: auto;
  max-width: 600px;

  @include vp-1199 {
    width: 65.76%;
    max-width: 100%;
    margin: 0 auto;
    padding: 61px 30px 69px 0;
  }

  @include vp-767 {
    width: 100%;
    padding: 64px 4.69% 69px;
  }
}

.free-lesson h2 {
  margin-bottom: 23px;
  color: $color-default-white;
  letter-spacing: 2.3px;

  @include vp-1199 {
    margin-bottom: 32px;
    letter-spacing: 1.56px;
  }

  @include vp-767 {
    letter-spacing: 0.96px;
  }
}

.free-lesson__form-container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
  row-gap: 28px;

  @include vp-1199 {
    column-gap: 57px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
  }
}

.free-lesson__form-container input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 8px 0;

  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  @include vp-1199 {
    margin-left: 2px;
    padding: 6px 0;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 7px 0;
  }

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    outline: 1px solid $color-default-white;
    padding: 8px 15px;
  }

  @include active {
    outline: 1px solid $color-default-white;
    padding: 10 15px;
  }
}

.free-lesson__form-container input[type="submit"] {
  grid-area: 2/1/3/3;
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid $color-default-white;
  background-color: transparent;
  user-select: none;
  box-sizing: border-box;

  @include hover-focus {
    background: $color-default-white;
    color: $color-egyptian-blue;
    outline: none;
  }

  @include active {
    color: $color-sapphire;
  }

  @include vp-767 {
    margin-top: 11px;
  }
}
